name: Deploy to VDS

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout репозитория
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Вход в Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Сборка и публикация Docker-образа
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: f0rgenet/typst-gost-webapp:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Деплой на VDS через SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.VDS_HOST }}
          username: ${{ secrets.VDS_USERNAME }}
          key: ${{ secrets.VDS_SSH_KEY }}
          script: |
            docker pull f0rgenet/typst-gost-webapp:latest
            docker stop typst-gost-webapp || true
            docker rm typst-gost-webapp || true
            docker run -d --restart always --name typst-gost-webapp -p 80:3000 f0rgenet/typst-gost-webapp:latest
